body {
	width:590px;
	font-size: 0.7em;
}



div {
	border: 1px solid #000000;
    position: relative;
    display:inline-block;
    width: 65px;
    height: 65px;
    margin-top: -4.7px;
    text-align: center;
    overflow: auto;
}

#sumWindow {
	position:absolute;
	z-index: 2;
	width: 222px;
	background-color:rgb(176,224,230);	
	
	
}


