/*Aufgabe: Aufgabe 0.5
Name: Jonathan Lingnau
Matrikel: 255645
Datum: 16.03.7
	
Hiermit versichere ich, dass ich diesen Code selbst geschrieben habe. Er wurde nicht kopiert und auch nicht diktiert.
*/

@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
	font-family: "Roboto", Helvetica, Arial, sans-serif;
	text-align: center;
	font-size: 2em;
	margin-top: 7em;
}